body {
      margin: 0;
      padding: 0;
      background-color: #1e1e1e;
      color: #ffffff;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-height: 100vh;
      overflow-x: hidden;
    }

    .container {
      width: 90%;
      max-width: 700px;
      margin-top: 50px;
      padding: 20px;
      box-sizing: border-box;

    }

    .title {
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }

    .event {
      background-color: #2c2c2c;
      margin-bottom: 15px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
      word-wrap: break-word;
      text-align: center;
       transform-style: preserve-3d;
         background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
        background-size: 60px 60px;
        background-position: 0 0, 0 0;
        background-color: #f0f0f0;
        width: 100%;
        box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
        transition: all 0.5s ease-in-out;
    }

    .event:hover  {
      transform: rotate3d(0.5, 1, 0, 30deg);
      background-position: -100px 100px, -100px 100px;
    }

    .event-title {
      margin-bottom: 10px;
    }

    .event-timer {
      font-weight: bold;
    }

